# Ignore all files
*

# Unignore directories so it can scan them
!*/

# Include all files ending in .adb
!*.adb

# Include all files ending in .ads
!*.ads

# Include all files ending in .png
!*.png

# Include all files ending in .md
!*.md

# Include all files in the .vscode folder
!.vscode/**

# Include all files in the .github folder
!.github/**

# Include .gitignore
!/.gitignore

# Include the docs folder
!docs/**
