# Ignore all files
*

# Unignore directories so it can scan them
!*/

# Include all files ending in .adb
!*.adb

# Include all files in the .vscode folder
!.vscode/**

# Include .gitignore
!/.gitignore